html {
  font-family: "Poppins", sans-serif;
  height: 100%;
  background: linear-gradient(rgb(86, 255, 248), rgb(13, 11, 136)) no-repeat;
}

h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.content-container {
  box-sizing: border-box;
  position: fixed;
  background-color: white;
  width: 400px;
  height: 90vh;
  margin: 5vh 35vw;
  display: flex;
  flex-direction: column;
  padding: 0 5vh;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.4);
}

.todo-create-form {
  display: flex;
}

.todo-input {
  width: 85%;
  height: 35px;
  font-size: 15px;
  padding: 8px;

  box-sizing: border-box;
  border-radius: 7px;
  border: 1px solid lightgray;
}

.todo-input:focus {
  outline: none;
}

.todo-add-button {
  background: linear-gradient(rgb(13, 11, 136), rgb(86, 255, 248)) no-repeat;
  border: none;
  height: 35px;
  width: 35px;

  border-radius: 7px;
  margin-left: 5px;
  color: white;
  font-size: 28px;
  cursor: pointer;
}

.todo-add-button:hover {
  opacity: 0.85;
}

.todo-list-container {
  overflow-y: scroll;
  padding-bottom: 55px;
}

.todo-item {
  height: 35px;
  width: 95%;
  text-align: left;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: rgba(244, 243, 243, 0.934);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0;
  padding-left: 10px;
}

.delete-button {
  background-color: rgba(255, 0, 25, 0.81);
  height: 35px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  display: none;
  width: 35px;
  cursor: pointer;
  position: relative;
}

.todo-item:hover .delete-button,
.delete-button:hover {
  display: inline-block;
}

.delete-button img {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 0;
  top: 0;
}

.none-todo {
  text-align: center;
}

.todo-count {
  position: absolute;
  bottom: 0;
  background: white;
  width: 350px;
  padding: 10px 0 30px;
  margin-bottom: 0;
}
